#bg {
  position: fixed; 
  top: -20%; 
  left: -20%; 
  width: 200%; 
  height: 200%;
}

.container {
  padding-top: 80px;
}

h1 {
  color: brown;
  padding-top: 40px;
  text-align: center;
}

.card {
  display: none;
}

ul {
  padding-top: 20px;
}

.showErrors {
  color: darkred;
}

#display-sounds {
  display: none;
  position: absolute;
}