body {
  background-color: olive;
}

#bg {
  position: fixed; 
  top: -20%; 
  left: -20%; 
  width: 150%; 
  height: auto;
}

.container {
  padding-top: 80px;
}

#title {
  color: brown;
  text-align: center;
  position: absolute;
}

.card {
  display: none;
}

ul {
  padding-top: 20px;
}

.showErrors {
  color: darkred;
}

#display-sounds {
  display: none;
  position: absolute;
}